body {
  margin: 0;
  background: #1F242E;
  color: #F5F7FA;
  font-family: Arial, sans-serif;
  width: 300px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.container {
  text-align: center;
}

.estado {
  font-size: 22px;
  margin-top: 10px;
}

.score {
  margin-top: 5px;
  font-size: 18px;
}

#lume {
  position: absolute;
  width: 64px;
  cursor: grab;
  image-rendering: pixelated;
}

.toggle-btn {
  margin-top: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.toggle-btn:hover {
  opacity: 0.8;
}